<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar_Usuario</servlet-name>
        <servlet-class>Usuario_.Registrar_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Conection.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCarrito</servlet-name>
        <servlet-class>Servlets.AgregarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controllers.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto2</servlet-name>
        <servlet-class>Controllers.ControladorProducto2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorsalirusu</servlet-name>
        <servlet-class>Servlets.controladorsalirusu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarAdmin</servlet-name>
        <servlet-class>Servlets.InsertarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorsaliradm</servlet-name>
        <servlet-class>Servlets.controladorsaliradm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar_Usuario</servlet-name>
        <url-pattern>/Registrar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCarrito</servlet-name>
        <url-pattern>/AgregarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto2</servlet-name>
        <url-pattern>/ControladorProducto2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorsalirusu</servlet-name>
        <url-pattern>/controladorsalirusu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarAdmin</servlet-name>
        <url-pattern>/InsertarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorsaliradm</servlet-name>
        <url-pattern>/controladorsaliradm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
